html,body {
	font-family: "calibri",sans-serif;
	border: 0px; 
	padding: 0;
	margin: 0; 
	width:100%;
}

.visualbyte {
	/*clear:left;*/
	height:10px;
	width:100%;
	display:block;
}

.bit-00 {
	fill:#ff6666;
}