html,body {
	font-family: "calibri",sans-serif;
	border: 0px; 
	padding: 0;
	margin: 0; 
	width:100%;
}

a:link { 
	outline: none; 
	text-decoration: none; 
	color:#9EBA9D; 
}
a:visited { 
	color:#9EBA9D; 
}

.visualbyte {
	/*clear:left;*/
	height:480px;
	width:480px;
	display:block;
}

.bit-00 {
	fill:#ff6666;
}
